<button (click)="onCreateOrEdit()" style="margin-right: 1em"  mat-raised-button color="primary">Створити</button>

<label>Модель</label>
<mat-form-field style="left: 1%" class="example-form-field">
  <input matInput type="text" [(ngModel)]="value" (input)="onInput(value)">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; onInput(value)" >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<p></p>

<table mat-table [dataSource]="shoes" class="mat-elevation-z8">

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Модель </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Колір </th>
    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Ціна </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef> Собівартість </th>
    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
  </ng-container>

  <ng-container matColumnDef="patterns">
    <th mat-header-cell *matHeaderCellDef> Патерни </th>
    <td mat-cell *matCellDef="let element"> {{element.patterns}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell  *matHeaderCellDef > Дії </mat-header-cell>
    <mat-cell *matCellDef="let row" >
      <button (click)="addPattern(row)" mat-button >Додати паттерн</button>
      <button (click)="removePattern(row)" mat-button >Видалити паттерн</button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row (dblclick)="onCreateOrEdit(row)" *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
