<form class="example-form" [formGroup]="createStorageForm" (ngSubmit)="onButtonCreate()">
  <mat-form-field style="display:inline-block; margin-right: 1em;">
    <mat-label> Модель взуття</mat-label>
    <mat-select  formControlName="shoe">
      <mat-option *ngFor="let shoe of shoes" [value]="shoe.id">
        {{shoe.model}} {{shoe.color}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Розмір</mat-label>
    <input formControlName="size" matInput>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>ТТН</mat-label>
    <input formControlName="ttn" matInput>
  </mat-form-field>

  <button style="margin-right: 1em;" mat-raised-button color="warn" type="submit" [disabled]="!createStorageForm.valid">
    Зберегти
  </button>

</form>
