<form class="example-form" [formGroup]="logInForm" (ngSubmit)="logIn()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Логін</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Пароль</mat-label>
    <input formControlName="password" matInput>
  </mat-form-field>
  <button mat-raised-button style="margin-left: 1em" type="submit" color="primary">Логін</button>
</form>
