<form style="margin-left: 2%" class="example-form" [formGroup]="editForm"
      (ngSubmit)="onButtonCreateOrUpdate()">
  <mat-label style="display:inline-block; margin-right: 1em;" *ngIf="data!=null">{{data.ttn}}<p>{{data.postComment}}</p>
    <p>Сума повернення: {{data.returnSumNP}}</p>
    <p>Вартість доставки: {{data.deliveryCost}}</p>
  </mat-label>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Телефон</mat-label>
    <input formControlName="phone" matInput>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Ім'я</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Прізвище</mat-label>
    <input formControlName="lastName" matInput>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>По батькові</mat-label>
    <input formControlName="middleName" matInput>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Пошта</mat-label>
    <input formControlName="mail" matInput>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Місто</mat-label>
    <textarea matInput formControlName="city"></textarea>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Адрес</mat-label>
    <textarea matInput formControlName="address"></textarea>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Коментарій</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Комент НП</mat-label>
    <input formControlName="postComment" matInput>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Ціна</mat-label>
    <input formControlName="price" matInput>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Передплата</mat-label>
    <input formControlName="prepayment" matInput>
  </mat-form-field>

  <mat-checkbox (click)="onFullPaymentCheckboxClick(fullPaymentCheckBox)" formControlName="fullpayment"
                [(ngModel)]="fullPaymentCheckBox" style="display:inline-block; margin-right: 1em;">Повна оплата
  </mat-checkbox>

  <mat-form-field appearance="fill">
    <mat-label>Акція</mat-label>
    <mat-select [(ngModel)]="discountId" (selectionChange)="onShoeOrDiscountChange()" formControlName="discountId">
      <mat-option></mat-option>
      <mat-option *ngFor="let discount of discounts" [value]="discount.id">{{discount.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="urgent" style="display:inline-block; margin-right: 1em;">Терміново
  </mat-checkbox>

  <mat-label style="display:inline-block; margin-right: 1em;">{{data != null ? data.status : ''}}</mat-label>


  <mat-form-field *ngIf="data != null && data.withoutTTN" style="display:inline-block; margin-right: 1em;">
    <mat-label> Статус</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status.status">
        {{status.status}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;">
    <mat-label> Статус</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status.status">
        {{status.status}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Оператор</mat-label>
    <mat-select formControlName="userId">
      <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p></p>
  <div align="center">
    <button style="margin-right: 1em;" mat-raised-button color="warn" type="submit" [disabled]="!editForm.valid">
       {{idOrder == null ? 'Створити' : 'Обновити'}}
    </button>
    <button style="float: right; margin-right: 3%;" mat-stroked-button (click)="onCancelOrderClick()" type="button">
      Зробити Відмову
    </button>
  </div>
</form>
<p></p>

<button mat-raised-button color="primary" (click)="addShoeToOrder()">Добавити взуття</button>

<table style="width: 80%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="shoe">
    <th mat-header-cell *matHeaderCellDef> Взуття</th>
    <td mat-cell *matCellDef="let element"> {{element.shoe != null ? element.shoe.model : ""}}
      {{element.shoe != null ? element.shoe.color : ""}}</td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Розмір</th>
    <td mat-cell *matCellDef="let element"> {{element.size}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Комент</th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>


  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><span (click)="removeShoeFromOrder(element)" class="material-icons">remove_circle_outline</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
