<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/notifications'"> <span matBadgePosition="after" [matBadge]="restNotif.amountNotif"
                                                           matBadgeOverlap="false">Сповіщення </span>
      </a>
      <a mat-button disabled="{{!showUpdate}}" (click)="update()"> Обновити</a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/orders'>Замовлення</a>
      <a mat-list-item routerLink='/apporders'>  <span matBadgePosition="after" [matBadge]="restAppOrders.newAppOrders"
                                                       matBadgeOverlap="false">Заявки </span></a>
      <a mat-list-item routerLink='/'>Взуття</a>
      <a mat-list-item routerLink='/import'>Імпорт</a>
      <a mat-list-item routerLink='/delivery'>Відправки</a>
      <a mat-list-item routerLink='/returned'>Повернення</a>
      <a mat-list-item routerLink='/canceled'>Відмови</a>
      <a mat-list-item routerLink='/statistic'>Статистика</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
