<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/notifications'"> <span matBadgePosition="after" [matBadge]="restNotif.amountNotif"
                                                           matBadgeOverlap="false">Сповіщення </span>
      </a>
      <a mat-button disabled="{{!showUpdate}}" (click)="update()"> Обновити</a>

      <a mat-button disabled="{{!showUpdateCanceled}}" (click)="updateCanceled()"> Обновити Відмови</a>

    </div>
    <div style="margin-left: 50%">
      <mat-label>Оператор</mat-label>
      <mat-select [ngModel]="userSelected" (selectionChange)="onUserChange($event.value)" style="margin-left: 5%">
        <mat-option  *ngFor="let user of users"
                    [value]="user.id">{{user.name}}</mat-option>
      </mat-select>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/'>Замовлення</a>
      <a mat-list-item routerLink='/apporders'>  <span matBadgePosition="after" [matBadge]="restAppOrders.newAppOrders"
                                                       matBadgeOverlap="false">Заявки </span></a>
      <a mat-list-item routerLink='/canceledorders'> <span matBadgePosition="after"
                                                           [matBadge]="restAppOrders.canceledWithoutReason"
                                                           matBadgeOverlap="false">Відмови </span></a>
      <a mat-list-item routerLink="/our_ttns"> <span matBadgePosition="after"
                                                             [matBadge]="restAppOrders.ourTtnsAmount"
                                                             matBadgeOverlap="false">Наші ТТН </span> </a>
      <a mat-list-item routerLink='/import'>Імпорт</a>
      <a mat-list-item routerLink='/delivery'>Відправки</a>
      <a mat-list-item routerLink='/returned'>Повернення</a>
      <a mat-list-item routerLink='/canceled'>Відмови на пошті</a>
      <a mat-list-item routerLink='/statistic'>Статистика</a>
      <a mat-list-item routerLink='/user_stats'>Оплата</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
