<table style="margin-left: 2%" class="example-full-width" cellspacing="0">

  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Накладна</mat-label>
        <input (input)="onFilterChange()" [(ngModel)]="ttn" matInput>
        <button mat-button *ngIf="ttn" matSuffix mat-icon-button aria-label="Clear" (click)="ttn=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Модель взуття</mat-label>
        <input (input)="onFilterChange()" [(ngModel)]="modelAndColor" matInput>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Розмір</mat-label>
        <input (input)="onFilterChange()" type="number" [(ngModel)]="size" matInput>
      </mat-form-field>
    </td>
    <td>
      <mat-slide-toggle [checked]="printed" (change)="setValue($event)">
       Показувати надруковані
      </mat-slide-toggle>
    </td>
  </tr>
</table>
<div *ngFor="let marking of markings">
  <mat-card>
    <div style="display: flex; flex-flow: column wrap; justify-content: flex-start">
      <div>{{marking.ordered.ttn}}</div>
      <div>{{marking.ordered.postComment}}</div>
      <div><p><a target="_blank" rel="noopener noreferrer" href="{{marking.ttnPrintUrl}}"
                 (click)="printMarking(marking.ordered.id)">Накладна</a></p><p *ngIf="marking.printed" style="color: red"><mark>Було Надруковано</mark></p></div>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</div>



