<form class="example-form" [formGroup]="editForm" (ngSubmit)="onButtonUpdate()">


  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Причина</mat-label>
    <textarea formControlName="reason" matInput></textarea>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Комент</mat-label>
    <input formControlName="comment" matInput>
  </mat-form-field>

  <button style="margin-right: 1em;" mat-raised-button color="warn" type="submit" >
    Зробити
  </button>
</form>
