<div style="display: flex; flex-wrap: wrap">
  <div>
    <div>
      <mat-label style="margin-left: 2%">Картка</mat-label>
      <mat-select style="margin-left: 2%;" [(ngModel)]="cardSelected">
        <mat-option></mat-option>
        <mat-option *ngFor="let card of cards" [value]="card.id">
          {{card.cardMask}}
        </mat-option>
      </mat-select>
    </div>
    <p></p>
    <textarea cols="30" rows="10" [(ngModel)]="responseCardSum"
              style="float: left"></textarea>
    <p></p>
    <button mat-raised-button color="primary" (click)="onGetCardSum()" style="float: left; margin-right: 1%">
      Показати
    </button>
  </div>


  <div>
    <div style="margin-left: 10%">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Від</mat-label>
          <input (dateChange)="onGetNpAccountSum()" [(ngModel)]="dateFrom" matInput [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Від</mat-label>
          <input (dateChange)="onGetNpAccountSum()" [(ngModel)]="dateTo" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>


      <div>
        <mat-label style="margin-left: 2%">Картка</mat-label>
        <mat-select style="margin-left: 2%" [(ngModel)]="npAccountSelected">
          <mat-option></mat-option>
          <mat-option *ngFor="let npAccount of npAccounts" [value]="npAccount.id">
            {{npAccount.name}}
          </mat-option>
        </mat-select>
      </div>
<p></p>

      <div>
    <textarea id="clipboard-example-textarea" cols="30" rows="10" [(ngModel)]="responseNpAccountSum"
              style="float: left"></textarea>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="onGetNpAccountSum()" style="float: left; margin-right: 1%">
          Показати
        </button>
      </div>
    </div>
  </div>

</div>
