<form class="example-form" [formGroup]="createForm" (ngSubmit)="onButtonSave()">

  <mat-label style="color: red" align="center"><h3>{{errorValue}}</h3></mat-label>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>ТТН</mat-label>
    <input formControlName="ttn" matInput>
  </mat-form-field>
  <mat-label style="display:inline-block; margin-right: 1em;">{{postComment}}</mat-label>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Телефон</mat-label>
    <input formControlName="phone" matInput>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Ім'я</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Прізвище</mat-label>
    <input formControlName="lastName" matInput>
  </mat-form-field>
  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>По батькові</mat-label>
    <input formControlName="middleName" matInput>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Адрес</mat-label>
    <textarea matAutosizeMinRows=5 matAutosizeMaxRows=20
              matInput formControlName="address"></textarea>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Коментарій</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;">
    <mat-label> Модель взуття</mat-label>
    <mat-select (selectionChange)="onShoeChange($event.value)" formControlName="shoe">
      <mat-option *ngFor="let shoe of shoes" [value]="shoe.id">
        {{shoe.model}} {{shoe.color}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Розмір</mat-label>
    <input formControlName="size"  matInput>
  </mat-form-field>

  <mat-checkbox [disabled]="true" formControlName="fromStorage"
                [(ngModel)]="fromStorage" style="display:inline-block; margin-right: 1em;">Зі складу
  </mat-checkbox>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Ціна</mat-label>
    <input formControlName="price" matInput>
  </mat-form-field>

  <mat-form-field style="display:inline-block; margin-right: 1em;" class="example-full-width">
    <mat-label>Передплата</mat-label>
    <input formControlName="prepayment" matInput>
  </mat-form-field>

  <mat-checkbox (click)="onFullPaymentCheckboxClick(fullPaymentCheckBox)" formControlName="fullpayment"
                [(ngModel)]="fullPaymentCheckBox" style="display:inline-block; margin-right: 1em;">Повна оплата
  </mat-checkbox>

  <mat-form-field style="display:inline-block; margin-right: 1em;">
    <mat-label> Статус</mat-label>
    <mat-select  formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status.status">
        {{status.status}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p></p>
  <div align="center">
    <button style="margin-right: 1em;" mat-stroked-button (click)="onNP()" type="button">Нова пошта</button>
    <button style="margin-right: 1em;" mat-raised-button color="warn" type="submit" [disabled]="!createForm.valid">
      Зберегти
    </button>
    <button style="float: right" mat-stroked-button (click)="onDenyClick()" type="button">Відміна</button>
  </div>

</form>
