<h3>Single selection</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Bank: {{bankCtrl.value?.name}}
</p>

<h3>Multiple selection</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Banks:
</p>
<ul *ngFor="let bank of bankCtrl?.value">
  <li>{{bank.name}}</li>
</ul>
