<mat-form-field appearance="fill">
  <mat-label>Накладні</mat-label>
  <textarea [(ngModel)]="ttns" matInput></textarea>
</mat-form-field>

<button mat-raised-button color="primary" (click)="onImportClick()">Імпортувати</button>
<button mat-raised-button color="primary" (click)="onIssueOrders()">Помилки</button>
<button mat-raised-button color="primary" (click)="onNeedDeliveryClick()">Відправки</button>
<mat-checkbox class="example-margin" [(ngModel)]="needStatusedUpdate">Обновити Статуси</mat-checkbox>

<mat-spinner *ngIf="!loaded"></mat-spinner>


<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let string of responses">{{string}}</mat-list-item>
</mat-list>

<label for="clipboard-example-textarea">Text to be copied</label>
<textarea id="clipboard-example-textarea" cols="30" rows="10" [(ngModel)]="response"></textarea>
<!--<button [cdkCopyToClipboard]="response">Copy to clipboard</button>-->
<!--<mat-label *ngFor="let string of response">{{string}}</mat-label>-->
