<mat-form-field appearance="fill">
  <mat-label>Накладні</mat-label>
  <textarea [(ngModel)]="ttns" matInput></textarea>
</mat-form-field>

<button mat-raised-button color="primary" (click)="onImportClick()">Імпортувати</button>
<button mat-raised-button color="primary" (click)="onIssueOrders()">Помилки</button>


<mat-spinner *ngIf="!loaded"></mat-spinner>


<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let string of responses">{{string}}</mat-list-item>
</mat-list>

<textarea id="clipboard-example-textarea" cols="30" rows="10" [(ngModel)]="response"></textarea>

