<mat-list *ngIf="notification != null">
  <mat-list-item *ngFor="let message of notification.content">
    <h3 matLine> {{message.messageType}} </h3>
    <p matLine>
      <span> {{message.topic}} </span>
      <span class="demo-2">{{message.content}}  -- {{message.ttn}}  </span>
    </p>
    <mat-icon *ngIf="!message.read1" matListIcon>mark_email_unread</mat-icon>
    <mat-icon *ngIf="message.read1" matListIcon>mark_email_read</mat-icon>
    <button mat-raised-button color="primary" (click)="makeRead(message)">Прочитати</button>

  </mat-list-item>

</mat-list>
<mat-paginator [length]="notification != null  ? notification.totalElements : 0"
               [pageSize]="10"
               (page)="updateNotif($event)"
>
</mat-paginator>
